.container {
    padding: 10%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.center {
    text-align: center;
}

mark {
    font-weight: bold !important;
    background-color: yellow !important;
}