{% extends "base.html" %}

{% block app_content %}
    <div class="row">
        <form action="/search" method="get" class="form-row">
            <div class="form-group">
                <input type="text" name="search" class="form-control" placeholder="What you would like to search?">
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Let's Forage</button>
            </div>
        </form>
    </div>
    {% block results %}{% endblock %}
{% endblock %}
